/* Common Styles */
/* font link  */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Poppins:ital,wght@1,500&family=Work+Sans&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}
body{
  width: 1400px;
  margin: 0 auto;
}
.btn-primary{
  border: none;
  border-radius: 8px;
  padding: 20px 25px;
  color: #ffffff;
  background-color: #FF900E;
  font-size: 20px;
  font-weight: 600;
}
.orange-text{
  color: #FF900E;

}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.section-title{
  font-size: 45px;
  font-weight: 700;
  text-align: left;
}
.section-description{
  color: #727272;
  margin-top: 25px;
  margin-bottom: 100px;
}

/* Header Style Start*/
/* navigation Style Start  */
.header{
  background: #FF900E1A;
  padding-left: 75px;
  padding-top: 30px;
  margin-bottom: 130px;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 100px;
}
.logo{
  font-size: 45px;
  font-weight: 700;
  color: #131313;
}
ul{
  display: flex;
}
ul li{
  list-style: none;
  font-size: 18px;
  font-weight: 500;
}
ul li a{
  text-decoration: none;
  color: #424242;
  margin-right: 80px;
  
}
/* Navigation Style End  */
/* Banner Style Start */
.banner{
  width: 862px;
  margin: 0 auto;
  text-align: center;
}
.banner-title{
  font-size: 64px;
  font-weight: 700;
  text-align: center;
}
.banner-description{
  margin: 100px 0 30px;
  font-size: 16px;
  font-weight: 400;
  color: #727272;
}
.banner-image{
  display: flex;
  justify-content: center;
}
.banner-img{
  width: 75%;
  margin-top:50px;
  margin-bottom: 45px;
}
/* main Section Style  */
/* Section Quick List  */
.quick-list-container{
  display: flex;
  gap: 70px;
  align-items: center;
  margin-bottom: 100px;
}
.quick-list-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
.quick-list-info{
  width: 537px;
}
.quick-list-title{
  font-weight: 700;
  font-size: 45px;
}
.quick-list-description{
  color: #727272;
  margin-top: 24px;
  margin-bottom: 30px;
}
/* Quick List Section End  */
/* section Feature You Love and Enjoy */
.enjoy-containear{
  display: flex;
  gap: 96px;
  align-items: center;
}
.enjoy-info{
  width: 585px;
}
.enjoy-info-title{
  font-size: 45px;
  font-weight: 700;
  padding-left: 10px;
  margin-bottom: 25px;
  border-left: 5px solid #FF900E;
}
.enjoy-info-description{
  color: #727272;
  margin-bottom: 30px;
}
.enjoy-info-features{
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px 10px rgba(70, 68, 68, 0.075);
}
.enjoy-info-features-title{
  color: #131313;
  font-size: 20px;
}
.enjoy-info-features-description{
  color: #727272;
  margin-top: 10px;
}
.feature-btn{
  padding: 45px 42px;
  border: none;
  background: #FF900E;
  color: #ffffff;
  width: 342px;
  border-radius: 8px;
  font-size: 25px;
  position: relative;
  bottom: 150px;
  left: 625px;
}
.feature-experience{
  font-size: 65px;
}
/* Some Fact-Section */
.facts-items{
  display: flex;
  justify-content: center;
  gap: 165px;
  margin-bottom: 240px;
}
.fact-item{
  height: 195px;
  width: 240px;
  text-align: center;
  border: 3px solid #FF900E;
  border-radius: 8px;
  padding-top: 45px;
  transition: transform .5s ease-in;
}
.fact-item:hover{
  transform: scale(1.25, 1.25);
}
.fact-item-title{
  font-size: 45px;
  margin-top: 10px;
}
.fact-item-description{
  color: #727272;
  font-size: 20px;
  margin-top: 5px;
}
/* Our Sponsor Section Styles */
.our-sponsors-info{
  text-align: center;
}
.sponsor-title{
  font-size: 45px;
  font-weight: 700;
  color: #131313;
  margin-bottom: 25px;
}
.sponsor-description{
  color:#727272;
  width: 542px;
  margin: 0 auto;
}
.sponsor-items-container{
  display: flex;
  gap: 150px;
  margin-top: 50px;
  margin-bottom: 130px;
}
.sponsor-item img{
  filter: grayscale(100%);
}
/* Team Styles */
.our-teams{
  display: flex;
  gap: 50px;
  width: 600px;
  margin-bottom: 130px;
  justify-content: center;
}
.team-member img{
  height: 250px;
}
.team-title{
  font-size: 25px;
  color: #131313;
  margin-bottom: 10px;
  margin-top: 20px;
}
.team-description{
  font-size: 18px;
  color: #737373;
}
/* Footer Section */
.footer{
  background: #FF900E1A;
  height: 100px;
  width: 100%;
  margin-bottom: 215px;
  border-radius: 8px;
}
.footer-text{
  display: flex;
  justify-content: center;
}
.footer-description{
  margin-top: 39px;
  color: #727272;
}


/* Responsive Design  */
/* Mobile Devices */
@media only screen and (max-width: 576px) {
  body{
    width: 100%;
  }
  /* header Style  */
  .logo{
    font-size: 35px;
  }
  .nav{
    flex-direction: column;
    margin-right: 30px;
    align-items: flex-start;
  }
  .nav ul{
    flex-direction: column;
    align-items: flex-start;
  }
  .banner{
    width: 100%;
  }
  .banner-title{
    font-size: 24px;
    margin-bottom: 50px;
    margin-right: 50px;
  }
  .banner-description{
    width: 75%;
    margin-top: 30px;
    margin-left: 0;
  }
  .btn-primary{
    margin-right: 70px;
  }
  .banner-img{
    width: 100%;
    margin-right: 70px;
  }
  /* Header End  */
  /* Quick List Section  */
  .quick-list-container{
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .quick-list-grid{
    grid-template-columns: repeat(1, 1fr);
  }
  .quick-list-info{
    width: 100%;
    margin-left: 5px;
  }
  .quick-list-title{
    font-size: 30px;
    padding: 10px;
  }
  .btn-2nd{
    margin-left: 10px;
  }
  /* Quick List Section End  */
  /* Feature Enjoy Section  */
  .enjoy-containear{
    flex-direction: column;
  }
  .enjoy-info{
    width: 100%;
  }
  .image img{
    width: 100%;
  }
  .feature-btn{
    position: relative;
    bottom: 0;
    left: 0;
    padding: 10px;
    width: 200px;
    font-size: 20px;
    
  }
  .feature-experience{
    font-size: 35px;
  }
  /* Fact Section  */
  .section-info{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
  }
  .fact-item{
    width: 90%;
    margin-left: 10px;
  }
  .facts-items{
    flex-direction: column;
    gap: 20px;
  }

  /* Our Sponsor Section */
  .sponsor-description{
    width: 90%;
  }
  .sponsor-items-container{
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .our-teams{
    flex-direction: column;
    align-items: center;
  }
  .footer{
    width: 100%;
    font-size: 10px;
  }
 
}